body{
    margin: 0;
    font-family: sans-serif;
}
.bg-image{
    width: 100%;
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1724064710352-3cbcee4bc3a8?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=987);
    background-position: center;
    background-attachment: fixed;
    background-size: 160%;
}

.container{
    padding: 100px;
}

h1{
    font-size: 50px;
}
@media (max-width: 500px){
    .container{
        padding: 10px;
    }
}
p{
    color: grey;
}

